.update-product form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(13, 81, 145);
}
.update-product form input, textarea, select {
    margin-top: 10px;
    height: 40px;
    width: 40%;
    margin-bottom: 15px;
   border-radius: 5px;
}
.fontdesign{
    color:green;
}
.updatebtn{
    color:white;
    background-color:tomato;
    font-size: large;
}